Source/LambdaSharp.LambdaPerformance/StepFunction.json
{
    "StartAt": "StartBuild",
    "States": {

        "StartBuild": {
            "Type": "Task",
            "Resource": "arn:${AWS::Partition}:states:::codebuild:startBuild.sync",
            "Parameters": {
                "ProjectName": "${CodeBuild::Project}",
                "EnvironmentVariablesOverride": [
                    {
                        "Name": "PROJECT_SOURCE",
                        "Type": "PLAINTEXT",
                        "Value.$": "States.Format('s3://${BuildBucket}/{}', $.ProjectPath)"
                    }
                ]
            },
            "ResultSelector": {
                "BuildStatus.$": "$.Build.BuildStatus",
                "BuildId.$": "$.Build.Id"
            },
            "ResultPath": "$.StartBuild",
            "Next": "CheckBuildOutcome"
        },

        "CheckBuildOutcome": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.StartBuild.BuildStatus",
                    "StringEquals": "SUCCEEDED",
                    "Next": "GetListOfArtifacts"
                }
            ],
            "Default": "BuildFailed"
        },

        "GetListOfArtifacts": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${ListArtifactsFunction}",
                "Payload": {
                    "BuildId.$": "$.StartBuild.BuildId"
                }
            },
            "ResultSelector": {
                "RunSpecs.$": "$.Payload.RunSpecs"
            },
            "ResultPath": "$.GetListOfArtifacts",
            "Next": "FanOutTests"
        },

        "FanOutTests": {
            "Type": "Map",
            "ItemsPath": "$.GetListOfArtifacts.RunSpecs",
            "MaxConcurrency": ${Parallelism},
            "Parameters": {
                "RunSpec.$": "$$.Map.Item.Value"
            },
            "Iterator": {
                "StartAt": "RunTest",
                "States": {
                    "RunTest": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "${MeasureFunction}",
                            "Payload.$": "$"
                        },
                        "ResultSelector": {
                            "Success.$": "$.Payload.Success"
                        },
                        "ResultPath": "$.RunTest",
                        "End": true
                    }
                }
            },
            "ResultPath": "$.Functions",
            "Next": "CombineMeasurements"
        },

        "CombineMeasurements": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${CombineMeasurementsFunction}",
                "Payload": {
                    "ProjectPath.$": "$.ProjectPath",
                    "BuildId.$": "$.StartBuild.BuildId"
                }
            },
            "ResultSelector": {
                "MeasurementFile.$": "$.Payload.MeasurementFile"
            },
            "ResultPath": "$.CombineMeasurements",
            "Next": "BuildSuccess"
        },

        "BuildFailed": {
            "Type": "Fail"
        },

        "BuildSuccess": {
            "Type": "Succeed"
        }
    }
}